@import "tailwindcss";

body {
  margin: 0;
}

#game-container {
  position: relative;
}

#game-container.menu-active::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/images/accueil.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.4;
  z-index: 0;
  pointer-events: none;
}

#game-container.menu-active canvas {
  position: relative;
  z-index: 1;
  background: transparent !important;
}
